# Python umumiy
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
.env

# Django umumiy
*.log
db.sqlite3
media/
staticfiles/
static/
*.bak

# PyCharm konfiguratsiyasi
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Boshqa
*.DS_Store
*.swp