{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Kayfiyatni Tahrirlash - Mental Health Tracker
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Kayfiyatni Tahrirlash</h2>
    <div class="card p-4 shadow-sm" style="background: #fff; border-radius: 10px;">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-custom">Yangilash</button>
        </form>
    </div>
</div>
{% endblock %}